@import url('https://fonts.googleapis.com/css2?family=Gloock&display=swap');
* {
	box-sizing: border-box;
  }
  
  html,
  body {
	margin: 0;
	padding: 0;
	background-color: white;
	text-align: justify;
	cursor: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='40' height='48' viewport='0 0 100 100' style='fill:black;font-size:24px;'><text y='50%'>🍭</text></svg>")
    16 0, auto;
  }
  
  
  body {
	font-family: "Montserrat";
	min-height: 1280px;
	font-size: 18px;
	margin: 10vw 25vw;
	cursor: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='40' height='48' viewport='0 0 100 100' style='fill:black;font-size:24px;'><text y='50%'>🍭</text></svg>")
    16 0, auto;
  }

  htmll{font-size: 16px;}

  p{font-size: calc(1rem + 1vw);
  }
  .step {
	width: 200%;
  }

  /*
  p {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}
*/

h1 {
	font-family: 'Gloock', serif;
	font-size: 50px;
}
  
  p
  h1,
  h2,
  h3,
  h4,
  a {
	margin: 0;
	font-weight: auto;
  }
  
  a,
  a:visited,
  a:hover {
	color: teal;
	text-decoration: none;
	border-bottom: 2px solid currentColor;
  }
  
  nav {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: baseline;
	-ms-flex-align: baseline;
	align-items: baseline;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
	background: #f5ac27;
	padding: 1rem;
	padding-right: 5rem;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
  }
  
  .nav__examples {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: baseline;
	-ms-flex-align: baseline;
	align-items: baseline;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	margin-top: 1rem;
  }
  
  .nav__examples > * {
	margin-right: 0.5rem;
  }
  
  #intro {
	max-width: 40rem;
	margin: 1rem auto;
	text-align: center;
  }
  
  .intro__hed {
	font-size: 2em;
	margin: 2rem auto 0.5rem auto;
  }
  
  .intro__dek {
	color: #8a8a8a;
  }
  
  .github-corner:hover .octo-arm {
	animation: octocat-wave 560ms ease-in-out;
  }
  
  @media(max-width: 551px){
	p {font-size: 12px;}
  }

  @media(min-width: 550px){
	p {font-size: 16px;}
  }

  @keyframes octocat-wave {
	0%,
	100% {
	  transform: rotate(0);
	}
  
	20%,
	60% {
	  transform: rotate(-25deg);
	}
  
	40%,
	80% {
	  transform: rotate(10deg);
	}
  }
  
  @media (max-width: 500px) {
	.github-corner:hover .octo-arm {
	  animation: none;
	}
  
	.github-corner .octo-arm {
	  animation: octocat-wave 560ms ease-in-out;
	}
  }
  
  #intro {
	margin-bottom: 320px;
  }
  
  #outro {
	height: 640px;
  }
  
  @media (min-width: 840px) {
	.nav__examples {
	  margin-top: 0;
	  margin-left: 2rem;
	}
  }




  /* stuff in html */

  #scrolly {
	position: relative;
	background: #f5ac27;
	padding: 1rem;
}

article {
	position: relative;
	padding: 0 1rem;
	margin: 0 auto;
	width: 33%;
}

.sticky-thing {
	position: -webkit-sticky;
	position: sticky;
	left: 0;
	width: 100%;
	margin: 0;
	background-color:#3b3b3b;
	z-index: 0;
	top: 12.5vh;
	height: 75vh;
	/* Center everything inside */
	display: flex;
	align-items: center;
	justify-content: center;
}

.sticky-thing p {
	font-size: 8rem;
	font-weight: 900;
	color:#fff;
}

.step {
	/*margin: 2rem auto 4rem auto;*/
	min-width: 33vw;
	margin: 2rem auto 4rem auto;
	height: fit-content;
	background-color: rgba(163,38,42,0.8);
	color: #fff;
	z-index: 0;
}

.step.is-active {
	background-color: goldenrod;
	color: #3b3b3b;
}

.step p {
	text-align: center;
	padding: 1rem; 
	font-size: 1.5rem;
}
  

